.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.tital{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  background: #ff6f00;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head{
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  background: #011504;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.data{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: #dd00ff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.delete_button{
  appearance: none;
  background-color: #ff0000;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 16px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.link{
    appearance: none;
    background-color: #0022ff;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 16px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
